html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

canvas {
  background-color: aquamarine;
}
