html,
body {
  height: 100%;
}

h1 {
  color: white;
  display:flex
  
}

body {
  margin: 0;
  background-color: midnightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: monospace;
  background-image: url('/images/city\ background\ 1280\ width\ x\ 768\ height\ px.jpg');
  padding: 2em;
  font-size: large;
}

.screen {

  background-color: midnightblue;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
 
  border: solid 5px rgb(108, 110, 117);
}

button {
  font: inherit;
  border: 0;
  padding: 1em;
}