@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Inter&family=Russo+One&display=swap');

html,
body {
  height: 100%;
}

.header {
  width: auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: monospace;
  background-image: url('/images/city\ background\ 1280\ width\ x\ 768\ height\ px.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: large;
}

.main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

canvas {
  border: solid 5px rgb(108, 110, 117);
}

.screen {
  margin: 10px, 100px;
  background-color: midnightblue;
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



button {
  font: inherit;
  border: 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  font-family: 'Russo One', sans-serif;
  font-size: small;
  color: yellow;
  margin: 0;
  padding: 0;
}

.introduction {
  color: yellow;
  float: left;
  width: 20%;
  font-family: 'Russo One', sans-serif;
  font-size: medium;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;*/
}

.controls {
  color: yellow;
  float: left;
  width: 20%;
  font-family: 'Russo One', sans-serif;
  font-size: medium;
  /*display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;*/
}
